[Unit]
Description=Prometheus Client
After=network.target
Wants=network.target
PartOf=transcoder.target

[Service]
User=prometheus
Group=prometheus
Type=simple
Environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
ExecStart=/bin/bash -c '/etc/prometheus/prometheus --config.file="/etc/prometheus/prometheus.yml"  --storage.tsdb.path="/etc/prometheus/data/" --storage.tsdb.retention.time=1y'
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=default.target
