[Unit]
Description="Livepeer transcoder service that automatically connects to local orchestrator."
After=network.target
PartOf=transcoder.target

[Service]
User=<username>
Group=<same as username if applicable>
Environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
ExecStart= /usr/local/bin/livepeer/livepeer -config <livepeer_orchestrator.conf|livepeer_orchestratorcombo.conf|livepeer_transcoder.conf>
Restart=always
RestartSec=5s
ProtectHome=yes
ProtectClock=yes
PrivateDevices=yes
ProtectHostname=yes
NoNewPrivileges=yes
ProtectSystem=strict
RestrictRealtime=yes
RestrictSUIDSGID=yes
ProtectKernelLogs=yes
RestrictNamespaces=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
SystemCallErrorNumber=EPERM
SystemCallArchitectures=native
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
