[Unit]
Description="Run All Dependencies (Services) for livepeer" 
After=network.target
Wants=livepeer.service prometheus.service

[Install]
WantedBy=multi-user.target
